* {
	padding: 0;
	margin: 0;
    font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}
.logo{
    padding-top: 50px;
    width: 360px;
}
@media screen and (max-width: 770px){
    .logo{
        width: 250px;
        height: auto;
    }
}
@media screen and (max-width: 770px){
    .logo{
		padding: 0;
        width: 250px;
        height: auto;
    }
}
.navbar{
    position: fixed; /* Fix the navbar to the top of the viewport */
    top: 0; /* Make sure the navbar stays at the top */
    width: 100%; /* Make the navbar full width */
    background-color: #333;
    font-family: Arial;
    z-index: 2; /* Set a higher z-index to keep it above the video */
    display: flex; /* Align the links horizontally */
    justify-content: center; /* Distribute links evenly */
    align-items: center; /* Center the links vertically */
}
/* Links inside the navbar */
.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 4;
}
/* The dropdown container */
.dropdown{
    float: left;
    overflow: hidden;
    z-index: 4;
}
/* Dropdown button */
.dropdown #dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    z-index: 4;
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover #dropbtn{
    background-color: #ddd;
    color: #000000;
}
/* Dropdown content (hidden by default) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}
/* Links inside the dropdown */
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 4;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover{
    background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}
.header{
    float: left;
}
.header a{
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 20px;
}
.header a:hover{
    background: #333;
}
@media (max-width: 767px){
    .navbar{
        display: none;
    }
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: black;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
nav ul li a, a:hover, a:focus, a:active {
    color: white;
}
.navbar{
    #menuBtn{
        padding-top: 50px 0;
    }
}
#menuBtn{
    width: 50px;
    height: 50px;
    background:#000000;
    opacity: 0.75;
    position: fixed;
    right: 15px;
    top: 60px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    padding-top: 0px;
    width: 50px;
    margin-top: 0px;
}
#menuBtn{
    display: block;
}
@media (min-aspect-ratio: 16/9){
    #menuBtn {
      display: none;
    }
}
.reach{
    text-align: center;
	padding-top: 50px;
    padding-bottom: 50px;
}
.reach p{
    margin: auto;
    font-size: 25px;
    color: #fd7014;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.reach p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#fd7014, #fff);
    position: absolute;
    top: -30px;
    left: 0;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
body{
	height: 100vh;
	display: grid;
	align-items: center;
}
.contact-wrap{
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.contact-in{
	padding: 40px 30px;
}
.contact-in:nth-child(1){
	flex: 30%;
	background: url(../home_images/contactimg.jpg);
	color: #fff;
}
.contact-in:nth-child(2){
	flex: 45%;
    background: radial-gradient(circle at 10% 20%, rgb(240, 144, 0) 0%, rgb(165, 112, 48) 90%);
}
.contact-in:nth-child(3){
	flex: 25%;
	padding: 0;
}
.contact-in h1{
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}
.contact-in h2{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}
.contact-in h2 i{
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}
.contact-in p{
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}
.contact-in ul{
	padding: 0;
	margin: 0;
}
.contact-in ul li{
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}
.contact-in ul li a{
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
}
.contact-in ul li a i{
	font-size: 14px;
	line-height: 30px;
	color: #000;
}
.contact-in form{
	width: 100%;
	height: auto;
}
.contact-in-input{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
}
.contact-in-input::placeholder{
	color: #fff;
}
.contact-in-textarea{
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
}
.contact-in-textarea::placeholder{
	color: #fff;
}
.contact-in-btn{
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	cursor: pointer;
}
.contact-in iframe{
	width: 100%;
	height: 100%;
}
@media only screen and (max-width:480px){
	.contact-in:nth-child(1){
		flex: 50%;
	}
	.contact-in:nth-child(2){
		flex: 50%;
	}
	.contact-in:nth-child(3){
		flex: 100%;
	}
}
@media only screen and (max-width:360px){
	.contact-in:nth-child(1){
		flex: 50%;
	}
	.contact-in:nth-child(2){
		flex: 50%;
	}
	.contact-in:nth-child(3){
		flex: 100%;
	}
}
