body {
  font-family: "Open Sans", sans-serif;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

body.fade-in {
  opacity: 1;
}
.header {
  height: 56px;
}
/* Navbar fix */
@media screen and (min-width: 768px) {
    body {
    padding-top: 60px; /* Update this to match your navbar's height */
    }
  }
  @media screen and (min-width: 768px) {
    body {
    padding-top: 60px; /* Update this to match your navbar's height */
    }
  }
.w3-container {
    position: relative;
    z-index: 1;
}

.hidden {
    display: none;
}
.booking-form {
  margin-top: 4rem;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.booking-form h3 {
  margin-bottom: 1rem;
}
.booking-form form {
  display: flex;
  flex-direction: column;
}
.booking-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.booking-form input,
.booking-form textarea,
.booking-form select {
  padding: 14px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 0.5rem;
}
.booking-form textarea {
    height: 100px;
}
.booking-form input[type="submit"] {
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.booking-form input[type="submit"]:hover {
    background-color: #a03124;
}
input[type=text] {
  background-color: white;
}
.steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
/* Go back */
.back-button {
  color: #fff;
  background-color: #3498db;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.back-button:hover {
  background-color: #2980b9;
  color: white;
}

 
/* Progress Bar */
.progressbar {
  margin: 90px 0 50px 0;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 15%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 25px;
  height: 25px;
  content: '';
  line-height: 30px;
  border: 3px solid black;
  background-color: white;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  transition: all .8s;
}
.progressbar li:after { 
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: white;
  top: 7px;
  left: -50%;
  z-index: -1;
  transition: all .8s;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active:before {
  border-color: black;
  background-color: #FF8F03;
  transition: all .8s;
}
.progressbar li.active:after {
  background-color: white;
  transition: all .8s;
}