fieldset{
    margin: 0 auto;
    border-color: black;
    align-items: center;
    border-radius: 5px;
    max-width: 800px;
    align-content: center;
    box-shadow: 10px 10px;
}

h2{
    text-align: center;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;
    font-size: 40px;
}

button.prev, 
a.prev{
    float: left;
    cursor: pointer;
    font-family: 'Open Sans';
    padding: 20px;
    font-size: 20px;
}

button.nextpart{
    float: right;
    cursor: pointer;
    font-family: 'Open Sans';
}


a.link,
button.next, 
a.next{
    float: right; 
    cursor: pointer; 
    padding: 20px;
    font-size: 20px;
}
/*Step 1 of slides */
.Dates input{
    padding: 10px;
    width: 200px;
    font-size: 16px;
}
.pax,
.Dates{
    align-items: center;
    align-content: center;
    text-align: center;
}

.pax input{
    padding: 20px; 
    width: 100px;
    font-size: 20px;
    font-weight:bolder;
}

/*Step 3 of form*/
#srequests{
    width: 93%; 
    height: 80px;
    margin: 20px;
}


/*Step 4 of form */
.indivdetails{
    line-height: 40px;
}

.indivdetails input{
    margin: 10px;
    height: 40px;
}

.indivdetails input[type=email]{
    width: 83%;
    height: 40px; 

}

#billing{
    height: 80px;
    padding: 10px;
    width: 93%;
    line-height: 80px;
}

    /*In w3-threequarter and w3-quarter, align items to left*/
    .w3-third,
    .w3-twothird,
    .w3-quarter,
    .w3-threequarter{
        text-align: left;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .w3-row{
        text-align: center;
        justify-content:center;
        align-items:center;
        margin: auto 0;
    }


/*Step 5 of form */
.pay input{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}
#cardNumber{
    width: 80%;
    margin-right: 20px;
}

#expiryDate{
    width: 70px;
}

#cvv{
    width: 70px;
}

#cardHolderName{
    width: 90%;
}

/*Step 6 of form */
.confirmation{
    justify-content: center;
}

input[type=checkbox]{
    margin: 0;
}

/*General CSS*/
label{
    padding-right: 10px;
    padding-left: 20px; 
    font-size: 20px;
}




